@model PasteBookEntityFramework.USER

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "PasteBookAccount", FormMethod.Post)) 
{
    <div id ="loginPanel" class="panel panel-primary col-md-offset-3">
        <div class="panel-heading"><img src="~/Content/Images/pastebookIcon.ico">PasteBook Credentials</div>
        <div id="bodyLogin" class="panel-body">
            <div class="row formField">
                <div class="form-group">
                    @Html.LabelFor(model => model.EMAIL_ADDRESS, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.EMAIL_ADDRESS, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EMAIL_ADDRESS, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            
            <div class="row formField">
                <div class="form-group">
                    @Html.LabelFor(model => model.PASSWORD, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row formField">
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-4">
                        <input id="btnLogin" type="submit" value="Login" class="btn btn-primary btn-lg" />
                    </div>
                </div>
            </div>

        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}


