@model PasteBookEntityFramework.USER

@{
    if (Session["User"] == null)
    {
        Response.Redirect("~/PasteBookAccount/Login");
    }

    ViewBag.Title = "Password Settings";
}

@using (Html.BeginForm("PasswordSettings", "PasteBookAccount", FormMethod.Post))
{
    @Html.HiddenFor(model => model.ID)
    <div id="loginPanel" class="panel panel-primary col-md-offset-3">
        <div class="panel-heading">Password Settings</div>
        <div id="bodyLogin" class="panel-body">
            <div>
                <div class="row formField">
                    <div class="form-group">
                        @Html.Label("Enter Old Password", htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row formField">
                    <div class="form-group">
                        @Html.Label("Enter New Password", htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.TextBox("newPassword", "", new { @class = "form-control txtPassword", type = "password" })
                            @Html.ValidationMessage("newPassword", "", new { @class = "text-danger errorPassword" })
                        </div>
                    </div>
                </div>
                <div class="row formField">
                    <div class="form-group">
                        @Html.Label("Re-type New Password", htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.TextBox("reTypePassword", "", new { @class = "form-control txtRePassword", type = "password" })
                            @Html.ValidationMessage("reTypePassword", "", new { @class = "text-danger errorRePassword" })
                        </div>
                    </div>
                </div>
                <div class="row formField">
                    <div class="form-group">
                        <div class="col-md-offset-6 col-md-10">
                            <input id="btnLogin" type="submit" value="Save Changes" class="btn btn-primary btn-lg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            }

            @section Scripts{
                @Scripts.Render("~/bundles/jqueryval")
                <script>
                    var checkUsername = '@Url.Action("CheckUsername", "PasteBookAccount")';
                    var checkEmail = '@Url.Action("CheckEmail", "PasteBookAccount")';
                </script>
                <script src="~/Scripts/pastebookValidator.js"></script>
            }
