@model PasteBookEntityFramework.USER

@{
    if (Session["User"] == null)
    {
        Response.Redirect("~/PasteBookAccount/Login");
    }

    ViewBag.Title = "Profile Settings";
}
<div class="row">
    <div id="registerPanel" class="panel panel-primary col-md-offset-3">
        <div class="panel-heading">Profile Settings</div>

        <div id="bodyRegister" class="panel-body">
            @using (Html.BeginForm("ProfileSettings", "PasteBookAccount", FormMethod.Post))
            {
                @Html.HiddenFor(model => model.ID)
                <div class="row formField">
                    <div class="form-group">
                        @Html.LabelFor(model => model.USER_NAME, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.USER_NAME, new { htmlAttributes = new { @class = "form-control txtUsername" } })
                            @Html.ValidationMessageFor(model => model.USER_NAME, "", new { @class = "text-danger errorUsername" })
                        </div>
                    </div>
                </div>
                    <div class="row formField">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FIRST_NAME, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.FIRST_NAME, new { htmlAttributes = new { @class = "form-control txtFirstName" } })
                                @Html.ValidationMessageFor(model => model.FIRST_NAME, "", new { @class = "text-danger errorFirstName" })
                            </div>
                        </div>
                    </div>
                    <div class="row formField">
                        <div class="form-group">
                            @Html.LabelFor(model => model.LAST_NAME, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.LAST_NAME, new { htmlAttributes = new { @class = "form-control txtLastName" } })
                                @Html.ValidationMessageFor(model => model.LAST_NAME, "", new { @class = "text-danger errorLastName" })
                            </div>
                        </div>
                    </div>
                    <div class="row formField">
                        <div class="form-group">
                            @Html.LabelFor(model => model.GENDER, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                
                                @{SelectList genderOptions = new SelectList(
                                    new List<Object>
                                    {
                                        new { value = "M" , gender = "Male"},
                                        new { value = "F" , gender = "Female"},
                                        new { value = "U" , gender = "Unspecified"  }
                                    },
                                    "value", "gender", Model.GENDER);
                                }

                                @Html.DropDownListFor(model => model.GENDER, genderOptions, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.GENDER, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row formField">
                        <div class="form-group">
                            @Html.LabelFor(model => model.BIRTHDAY, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.BIRTHDAY, new { htmlAttributes = new { @class = "form-control txtBirthday", type = "date", max = DateTime.Now.ToString("yyyy-MM-dd") } })
                                @Html.ValidationMessageFor(model => model.BIRTHDAY, "", new { @class = "text-danger errorBirthday" })
                            </div>
                        </div>
                    </div>
                    <div class="row formField">
                        <div class="form-group">
                            @Html.LabelFor(model => model.COUNTRY_ID, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(model => model.COUNTRY_ID, (SelectList)@ViewBag.Country, "Select Country", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.COUNTRY_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row formField">
                        <div class="form-group">
                            @Html.LabelFor(model => model.MOBILE_NO, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.MOBILE_NO, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MOBILE_NO, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row formField">
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-10">
                                <input id="btnRegister" type="submit" value="Save Changes" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>

        @section Scripts{
            @Scripts.Render("~/bundles/jqueryval")

            <script>
                var checkUsername = '@Url.Action("CheckUsername", "PasteBookAccount")';
                var checkEmail = '@Url.Action("CheckEmail", "PasteBookAccount")';
            </script>
            <script src="~/Scripts/pastebookValidator.js"></script>
        }
