@model PasteBookEntityFramework.USER

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "PasteBookAccount", FormMethod.Post))
{
    <div class="row">

        <div id="registerPanel" class="panel panel-primary col-md-offset-3">
            <div class="panel-heading"><img src="~/Content/Images/pastebookIcon.ico">Getting Started</div>

            <div id="bodyRegister" class="panel-body">
                <div class="row formField">
                    <div class="form-group">
                        @Html.LabelFor(model => model.USER_NAME, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.USER_NAME, new { htmlAttributes = new { @class = "form-control txtUsername" } })
                            @Html.ValidationMessageFor(model => model.USER_NAME, "", new { @class = "text-danger errorUsername" })
                        </div>
                    </div>
                </div>

                <div class="row formField">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EMAIL_ADDRESS, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.EMAIL_ADDRESS, new { htmlAttributes = new { @class = "form-control txtEmailAdd" } })
                            @Html.ValidationMessageFor(model => model.EMAIL_ADDRESS, "", new { @class = "text-danger errorEmailAdd" })
                        </div>
                    </div>
                </div>

                <div class="row formField">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FIRST_NAME, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.FIRST_NAME, new { htmlAttributes = new { @class = "form-control txtFirstName" } })
                            @Html.ValidationMessageFor(model => model.FIRST_NAME, "", new { @class = "text-danger errorFirstName" })
                        </div>
                    </div>
                </div>

                <div class="row formField">
                    <div class="form-group">
                       @Html.LabelFor(model => model.LAST_NAME, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.LAST_NAME, new { htmlAttributes = new { @class = "form-control txtLastName" } })
                            @Html.ValidationMessageFor(model => model.LAST_NAME, "", new { @class = "text-danger errorLastName " })
                        </div>
                    </div>
                </div>

                <div class="row formField">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PASSWORD, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control txtPassword" } })
                            @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger errorPassword" })
                        </div>
                    </div>
                </div>

                <div class="row formField">
                    <div class="form-group">
                        @Html.Label("Confirm Password", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.Editor("ConfirmPassword", new { htmlAttributes = new { @class = "form-control txtRePassword", type="password" } })
                            @Html.ValidationMessage("ConfirmPassword", "", new { @class = "text-danger errorRePassword" })
                        </div>
                    </div>
                </div>

                <div class="row formField">
                    <div class="form-group">
                        @Html.LabelFor(model => model.GENDER, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.GENDER, (SelectList)@ViewBag.Gender, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GENDER, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row formField">
                    <div class="form-group">
                        @Html.LabelFor(model => model.BIRTHDAY, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.BIRTHDAY, new { htmlAttributes = new { @class = "form-control txtBirthday", type = "date", max = DateTime.Now.ToString("yyyy-MM-dd") } })
                            @Html.ValidationMessageFor(model => model.BIRTHDAY, "", new { @class = "text-danger errorBirthday" })
                        </div>
                    </div>
                </div>

                <div class="row formField">
                    <div class="form-group">
                        @Html.LabelFor(model => model.COUNTRY_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.COUNTRY_ID, (SelectList)@ViewBag.Country, "Select Country", new { @class = "form-control", id = "txtCountry" })
                            @Html.ValidationMessageFor(model => model.COUNTRY_ID, "", new { @class = "text-danger", id = "errorCountry" })
                        </div>
                    </div>
                </div>

                <div class="row formField">
                    <div class="form-group">
                        @Html.LabelFor(model => model.MOBILE_NO, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.MOBILE_NO, new { htmlAttributes = new { @class = "form-control txtMobile" } })
                            @Html.ValidationMessageFor(model => model.MOBILE_NO, "", new { @class = "text-danger errorMobile" })
                        </div>
                    </div>
                </div>

                <div class="row formField">
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-10">
                            <input id="btnRegister" type="submit" value="Register" class="btn btn-primary btn-lg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    
    <script>
        var checkUsername = '@Url.Action("CheckUsername", "PasteBookAccount")';
        var checkEmail = '@Url.Action("CheckEmail", "PasteBookAccount")';
    </script>
    <script src="~/Scripts/pastebookValidator.js"></script>
}


