@model PasteBookEntityFramework.USER

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "PasteBookAccount", FormMethod.Post))
{
    <div class="row">
        <div id="imgRegister" class="col-md-4">IMAGE</div>

        <div id="registerPanel" class="panel panel-primary pull-right">
            <div class="panel-heading"><img src="~/Content/Images/pastebookIcon.ico">Getting Started</div>

            <div id="bodyRegister" class="panel-body">
                <div class="row formField">
                    <div class="form-group">
                        @Html.LabelFor(model => model.USER_NAME, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.USER_NAME, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.USER_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row formField">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EMAIL_ADDRESS, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.EMAIL_ADDRESS, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EMAIL_ADDRESS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row formField">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FIRST_NAME, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.FIRST_NAME, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FIRST_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row formField">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LAST_NAME, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.LAST_NAME, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LAST_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row formField">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PASSWORD, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                @*<div class="row formField">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PASSWORD, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@

                <div class="row formField">
                    <div class="form-group">
                        @Html.LabelFor(model => model.GENDER, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.GENDER, new List<SelectListItem>{
                            new SelectListItem{ Text="Male", Value="M"},
                            new SelectListItem{ Text="Female", Value="F"}
                            }, "Select Gender", new { @class = "form-control" }
                        )
                            @Html.ValidationMessageFor(model => model.GENDER, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row formField">
                    <div class="form-group">
                        @Html.LabelFor(model => model.BIRTHDAY, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.BIRTHDAY, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                            @Html.ValidationMessageFor(model => model.BIRTHDAY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row formField">
                    <div class="form-group">
                        @Html.LabelFor(model => model.COUNTRY_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.COUNTRY_ID, (SelectList)@ViewBag.Country as SelectList, "Select Country", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.COUNTRY_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row formField">
                    <div class="form-group">
                        @Html.LabelFor(model => model.MOBILE_NO, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.MOBILE_NO, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MOBILE_NO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row formField">
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-10">
                            <input id="btnRegister" type="submit" value="Register" class="btn btn-primary btn-lg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
