@model PasteBook.Models.PasteBookViewModel

@{
    if (Session["User"] == null)
    {
        Response.Redirect("~/PasteBookAccount/Login");
    }

    ViewBag.Title = "Home";
}

@{
    <div id="wellPostAreaFeed" class="well well-lg col-md-offset-1">
        <p id="txtPost"><span class="glyphicon glyphicon-pushpin"></span>Paste Something</p>
        @Html.TextAreaFor(model => model.Post.CONTENT, new { id = "txtAreaPostFeed", placeholder="Paste something on your wall..."})
        <button id="btnPostFeed" class="btn btn-primary btn-lg pull-right">Paste</button>
    </div>

    <div id="wellMenuFeed" class="well well-lg col-md-3">
        <button class="btn btn-primary btn-lg btnMenu" onclick="location.href='@Url.Action("friends", "PasteBookApp")'"><span class="glyphicon glyphicon-user pull-left iconMenu"></span>Friends</button>
        <button class="btn btn-primary btn-lg dropdown-toggle btnMenu" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-cog pull-left iconMenu"></span>Settings<span class="caret"></span></button>
        <ul id="dropSettings" class="dropdown-menu">
            <li><a href="@Url.Action("ProfileSettings", "PasteBookAccount")"><span class="glyphicon glyphicon-user settingsIcon"></span><span class="dropSettingsText">Profile Settings</span></a></li>
            <li><a href="@Url.Action("EmailSettings", "PasteBookAccount")"><span class="glyphicon glyphicon-envelope settingsIcon"></span><span class="dropSettingsText">Email Settings</span></a></li>
            <li><a href="@Url.Action("PasswordSettings", "PasteBookAccount")"><span class="glyphicon glyphicon-lock settingsIcon"></span><span class="dropSettingsText">Password Settings</span></a></li>
        </ul>
    </div>
}

<div id="divFeedPost">
    @{ 
        Html.RenderAction("FeedPostPartialView", "PasteBookApp");
    }
</div>

@section Scripts {
   
    <script>
        var postUrl = '@Url.Action("Post", "PasteBookApp")';
        var renderPostUrl = '@Url.Action("FeedPostPartialView", "PasteBookApp")';
        var renderPostTLUrl = '@Url.Action("TimeLinePostPartialView", "PasteBookApp")';
        var likeUrl = '@Url.Action("Like", "PasteBookApp")';
        var commentUrl = '@Url.Action("Comment", "PasteBookApp")';
        var currentUserID = @Session["Userid"];
    </script>

    <script src="~/Scripts/pastebookPost.js"></script>
}
        

