@model PasteBook.Models.PasteBookViewModel

@{
    if (Session["User"] == null)
    {
        Response.Redirect("~/PasteBookAccount/Login");
    }

    ViewBag.Title = Model.User.FIRST_NAME+" "+Model.User.LAST_NAME;
}

<div class="row">
    <div id="profileBanner" class="well well-lg col-md-9">
        <div class="row formField">
            <div class="col-md-3">
                @{
                    if (Model.User.PROFILE_PIC != null)
                    {
                        <img id="imgProfile" src="data:image;base64,@System.Convert.ToBase64String(Model.User.PROFILE_PIC)" class="img-thumbnail img-responsive" alt="Profile Picture">
                    }

                    else
                    {
                        <img id="imgProfile" src="~/Content/Images/pastebookDefaultImage.png" class="img-thumbnail img-responsive" alt="Profile Picture">
                    }
                }
                
                @{
                    if ((string)Session["User"] == Model.User.USER_NAME)
                    {
                        <button id="btnEditPicture" class="btn btn-primary" data-toggle="modal" data-target="#uploadPicModal"><span class="glyphicon glyphicon-pencil"></span>Edit Profile Picture</button>
                    }
                }
                
            </div>

            <!-- Modal -->
            <div id="uploadPicModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Upload New Profile Picture</h4>
                        </div>
                        
                        <div class="modal-body">
                            @using (Html.BeginForm("EditProfilePicture", "PasteBookApp", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <label for="file">Upload new Profile Picture:</label>
                                <input type="file" name="file" id="file" style="width: 100%;" />
                                <input type="submit" value="Save Profile Picture" class="submit" />
                            }
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <div id="txtfullName" class="col-md-9">
                <div class="row formField">
                    <div class="col-md-12">
                        @Html.DisplayFor(model => model.User.FIRST_NAME)
                        @Html.DisplayFor(model => model.User.LAST_NAME)
                    </div>

                    <div id="txtuserName" class="col-md-12">
                        (@Html.DisplayFor(model => model.User.USER_NAME))
                    </div>

                    <div id="txtEmail" class="col-md-12">
                        @Html.DisplayFor(model => model.User.EMAIL_ADDRESS)
                    </div>
                    @{
                        if ((string)Session["User"] != Model.User.USER_NAME && Model.ListOfFriend.Any(x => x.FRIEND_ID == (int)Session["CurrentProfile"] && x.REQUEST =="Y"))
                        {
                            <button id="btnFriends" class="btn btn-success col-md-3" disabled>Friends</button>
                        }

                        else if (Model.ListOfFriend.Any(x => x.FRIEND_ID == (int)Session["CurrentProfile"] && x.REQUEST == "N"))
                        {
                            <button id="btnFRequest" class="btn btn-warning col-md-3" disabled>Friend Request Sent</button>
                        }

                        else if(Model.ListOfFriend.Any(x => x.FRIEND_ID != (int)Session["CurrentProfile"]) && (string)Session["User"] != Model.User.USER_NAME)
                        {
                            <button id="btnAddFriend" class="btn btn-primary col-md-3">Add Friend</button>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <div id="wellMenu" class="well well-lg col-md-3">
        <button class="btn btn-primary btn-lg btnMenu" onclick="location.href='@Url.Action("friends", "PasteBookApp")'"><span class="glyphicon glyphicon-user pull-left iconMenu"></span>Friends</button>
        <button class="btn btn-primary btn-lg btnMenu"><span class="glyphicon glyphicon-cog pull-left iconMenu"></span>Settings</button>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <div id="wellBasicInfo" class="well well-lg">
            <div class="row">
                <div class="col-md-5">
                    @Html.LabelFor(model => model.User.GENDER)
                </div>
                <div class="col-md-7">
                    @{
                        if(@Model.User.GENDER.TrimEnd(' ') == "M")
                        {
                            @Html.DisplayName("Male");
                        }

                        else if (@Model.User.GENDER.TrimEnd(' ') == "F")
                        {
                            @Html.DisplayName("Female");
                        }

                        else
                        {
                            @Html.DisplayName("Unspecified");
                        }
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    @Html.LabelFor(model => model.User.BIRTHDAY)
                </div>
                <div class="col-md-7">
                    @Html.DisplayFor(model => model.User.BIRTHDAY)
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    @Html.LabelFor(model => model.User.COUNTRY_ID)
                </div>
                <div class="col-md-7">
                    @Html.DisplayFor(model => model.User.REF_COUNTRY.COUNTRY)
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    @Html.LabelFor(model => model.User.MOBILE_NO)
                </div>
                <div class="col-md-7">
                    @Html.DisplayFor(model => model.User.MOBILE_NO)
                </div>
            </div>
        </div>

        <div id="wellAboutMe" class="well well-lg">
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.User.DATE_CREATED)
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.User.DATE_CREATED)
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.User.ABOUT_ME)
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.User.ABOUT_ME)
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div id="wellPostProfileArea" class="well well-lg">
            <p id="txtPost"><span class="glyphicon glyphicon-pushpin"></span>Paste Something</p>
            @Html.TextAreaFor(model => model.Post.CONTENT, new { id = "txtAreaPostTimeLine" })
            <button id="btnPostTimeLine" class="btn btn-primary btn-lg pull-right">Paste</button>
        </div>

        <div id="divTimeLinePost">
            @{
                Html.RenderAction("TimeLinePostPartialView", "PasteBookApp", new { user = Model});
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var postTLUrl = '@Url.Action("Post", "PasteBookApp")';
                            var renderPostTLUrl = '@Url.Action("TimeLinePostPartialView", "PasteBookApp")';
                            var likeUrl = '@Url.Action("Like", "PasteBookApp")';
                            var addFriendUrl = '@Url.Action("AddFriend", "PasteBookApp")';
                            var commentTLUrl = '@Url.Action("Comment", "PasteBookApp")';
                            var currentUserID = @Session["Userid"];
                            var currentProfileID = @Session["CurrentProfile"];
    </script>

    <script src="~/Scripts/pastebookPost.js"></script>
    <script src="~/Scripts/pastebookFriend.js"></script>
}
