@model PasteBookEntityFramework.POST

@{ 
    ViewBag.Title = Model.USER.FIRST_NAME + " " + Model.USER.LAST_NAME + "'s post";
}

<div id="wellMenu" class="well well-lg col-md-3 pull-right">
    <button class="btn btn-primary btn-lg btnMenu" onclick="location.href='@Url.Action("friends", "PasteBookApp")'"><span class="glyphicon glyphicon-user pull-left iconMenu"></span>Friends</button>
    <button class="btn btn-primary btn-lg dropdown-toggle btnMenu" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-cog pull-left iconMenu"></span>Settings<span class="caret"></span></button>
    <ul id="dropSettings" class="dropdown-menu">
        <li><a href="@Url.Action("ProfileSettings", "PasteBookAccount")"><span class="glyphicon glyphicon-user settingsIcon"></span><span class="dropSettingsText">Profile Settings</span></a></li>
        <li><a href="@Url.Action("EmailSettings", "PasteBookAccount")"><span class="glyphicon glyphicon-envelope settingsIcon"></span><span class="dropSettingsText">Email Settings</span></a></li>
        <li><a href="@Url.Action("PasswordSettings", "PasteBookAccount")"><span class="glyphicon glyphicon-lock settingsIcon"></span><span class="dropSettingsText">Password Settings</span></a></li>
    </ul>
</div>

<div id="wellSpecificPost">
    @{
        <div id="wellPostFeed" class="well well-lg col-md-offset-1">
            @{
                if (Model.LIKEs.Any(x => x.LIKED_BY == (int)Session["Userid"]))
                {
                    <button class="btnLike btn btn-warning" value=@Model.ID><span class="glyphicon glyphicon-star"></span>Liked</button>
                }

                else
                {
                    <button class="btnLike btn btn-primary" value=@Model.ID><span class="glyphicon glyphicon-star"></span>Like</button>
                }
            }

            @{
                if (Model.POSTER_ID != Model.PROFILE_OWNER_ID)
                {
                    <a class="txtPoster" href="@Url.Action("UserProfile", "PasteBookApp", new { userID = Model.USER.USER_NAME })">@Model.USER.FIRST_NAME @Model.USER.LAST_NAME</a><span class="glyphicon glyphicon-arrow-right"></span><a class="txtPoster" href="@Url.Action("UserProfile", "PasteBookApp", new { userID = @Model.USER1.USER_NAME })">@Model.USER1.FIRST_NAME @Model.USER1.LAST_NAME</a>
                }

                else
                {
                    <a class="txtPoster" href="@Url.Action("UserProfile", "PasteBookApp", new { userID = @Model.USER.USER_NAME })">@Model.USER.FIRST_NAME @Model.USER.LAST_NAME</a>
                }
            }
            <p>@Model.CREATED_DATE.ToString("dddd, MMMM dd, yyyy HH:mm:ss tt")</p>

            <p class="postContent">@Model.CONTENT</p>

            <button class="btn btn-success glyphicon glyphicon-star" data-toggle="modal" data-target=".@Model.ID" title="@Model.LIKEs.Count() liked this post">@Model.LIKEs.Count()</button>

            <!-- Modal for Likers, News Feed Post-->
            <div class="@Model.ID modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">People who liked this post</h4>
                        </div>

                        <div class="modal-body">
                            @{
                                if (Model.LIKEs.Count() == 0)
                                {
                                    <p>No likes yet.</p>
                                }
                            }
                            @foreach (var like in Model.LIKEs)
                            {
                                <a class="txtLiker" href="@Url.Action("UserProfile", "PasteBookApp", new { userID = @like.USER.USER_NAME })">@like.USER.FIRST_NAME @like.USER.LAST_NAME</a><br />
                            }
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <button class="btn btn-success glyphicon glyphicon-comment" title="@Model.COMMENTs.Count() comment(s) for this post">@Model.COMMENTs.Count()</button>
            <br />

            @Html.TextArea("CommentFeed", new { @class = "txtAreaComment", id = @Model.ID, placeholder = "Paste your comment..." })
            <button class="btnComment btn btn-primary" value="@Model.ID">Comment</button>

            @{
                foreach (var comment in Model.COMMENTs)
                {
                    <a class="txtCommentor" href="@Url.Action("UserProfile", "PasteBookApp", new { userID = @comment.USER.USER_NAME })">@comment.USER.FIRST_NAME @comment.USER.LAST_NAME</a>
                        <p class="txtComment">@comment.CONTENT</p>
                }
            }

        </div>
    }
</div>

@section Scripts {

    <script>
        var postUrl = '@Url.Action("Post", "PasteBookApp")';
        var renderPostUrl = '@Url.Action("FeedPostPartialView", "PasteBookApp")';
        var renderPostTLUrl = '@Url.Action("TimeLinePostPartialView", "PasteBookApp")';
        var renderSpecificPost = '@Url.Action("ViewPost", "PasteBookApp", new { postID = Model.ID})';
        var likeUrl = '@Url.Action("Like", "PasteBookApp")';
        var commentUrl = '@Url.Action("Comment", "PasteBookApp")';
        var currentUserID = @Session["Userid"];
    </script>

    <script src="~/Scripts/pastebookPost.js"></script>
}