<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | PasteBook</title>
    <link rel="icon" href="~/Content/Images/pastebookIcon.ico" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @{
                    if (Session["User"] == null)
                    {
                        <a href='@Url.Action("Index", "PasteBookAccount")'><img id="imgLogo" src='@Url.Content("~/Content/Images/pastebookLogo.png")' /></a>
                    }

                    else
                    {
                        <a href='@Url.Action("Index", "PasteBookApp")'><img id="imgLogo" src='@Url.Content("~/Content/Images/pastebookLogo.png")' /></a>
                    }

                }
            </div>
            @{
                if (Session["User"] != null)
                {
                    <ul class="nav navbar-nav">
                        <li>@using (Html.BeginForm("Search", "PasteBookApp", FormMethod.Post))
                        {
                            @Html.TextBox("searchString", null, new { id = "searchBar", @class = "form-control pull-left", placeholder = "Search PasteBook" })
                            <button type="submit" id="btnSearch" class="btn btn-primary pull-right" title="Search"><span class="glyphicon glyphicon-search"></span></button>
                        }</li>
                    </ul>
                }
            }
                @{
                    if (Session["User"] != null)
                    {
                        <ul id="homeNavLinks" class="nav navbar-nav navbar-static-top">
                            <li><button id="btnHome" class="btn btn-primary pull-right" onclick="location.href='@Url.Action("Index", "PasteBookApp")'" title="Home"><span class="glyphicon glyphicon-home pull-left"></span></button></li>
                            <li>@{Html.RenderAction("NotificationPartialView", "PasteBookApp");}<li>
                            <li><button id="btnProfile" class="btn btn-primary pull-right" onclick="location.href='@Url.Action("UserProfile", "PasteBookApp", new { userID = Session["User"] })'" title="Profile"><span class="glyphicon glyphicon-user"></span><span id="txtButtonUser">@Session["User"]</span></button></li>
                        </ul>

                        <button id="btnLogout" class="btn btn-primary" onclick="location.href='@Url.Action("Logout", "PasteBookAccount")'"><span class="glyphicon glyphicon-log-out"></span>  Logout</button>                        
                    }

                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><button id="btnStart" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "PasteBookAccount")'"><span class="glyphicon glyphicon-home"></span> Home</button></li>
                            <li><button id="btnLoginNav" class="btn btn-primary" onclick="location.href='@Url.Action("Login", "PasteBookAccount")'"><span class="glyphicon glyphicon-log-in"></span>  Login</button></li>
                            <li><button id="btnLogout" class="btn btn-primary" onclick="location.href='@Url.Action("Register", "PasteBookAccount")'"><span class="glyphicon glyphicon-list-alt"></span>  Register</button></li>
                        </ul>
                    }
                }
            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PasteBook | Developed by Arvie Limbo</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
